.faq {
    position: relative;
    padding-bottom: 15em;
    // padding: 10em;

    .card {
        background-color: transparent;
        padding-top: 1em;
        padding-bottom: 1em;
        border-color: transparent;

        .card-header {
            border-width: 0.1em;
            border-radius: 1.5em;
            border-color: white;
            border-style: solid;

            .btn {
                color: white;
                text-align: left;
            }
        }
    }
}