.faq {
    position: relative;
    padding-bottom: 15em;
    // padding: 10em;

    .card {
        background-color: transparent;
        padding-top: 1em;
        padding-bottom: 1em;
        border-color: transparent;
    }
}