.navbar {
  background-color: #0d242c; }
  .navbar .nav-link {
    line-height: 2;
    font-size: 1rem; }
  .navbar #nav-logo {
    width: 1.5rem;
    margin: 0.5rem; }
  .navbar li.nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .navbar .navbar-dark .navbar-nav .nav-link.active:hover {
    color: #45bf95; }
