.about-us {
  position: relative;
  overflow: hidden;
  padding-bottom: 6em; }
  .about-us .about-us-container {
    padding: 10em;
    padding-left: 0em;
    position: relative; }
    .about-us .about-us-container p {
      max-width: 30rem; }

/* start background skytrain styles and animation */
#full-skytrain {
  width: 105%;
  position: absolute;
  left: 0;
  bottom: -45em;
  overflow: hidden; }

@media (max-width: 800px) {
  #full-skytrain {
    display: none; } }

/* end background skytrain styles and animation */
