.faq {
  position: relative;
  padding-bottom: 5em; }
  .faq .card {
    background-color: transparent;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: transparent; }
    .faq .card .card-header {
      border-width: 0.1em;
      border-radius: 1.5em;
      border-color: white;
      border-style: solid;
      padding-left: 2em;
      vertical-align: middle; }
      .faq .card .card-header .btn {
        color: white; }
      .faq .card .card-header .btn[aria-expanded=false] .icon-collapsed {
        display: none; }
      .faq .card .card-header .btn[aria-expanded=true] .icon-expanded {
        display: none; }
