.hero {
    margin: 8% auto;
}

.hero .text-left {
    position: absolute;
    margin-left: 10%;
    margin-right: 45%;
}

.hero .graphic {
    position: initial;
    z-index: -1;
}

.hero .btn {
    font-weight: bold;
    padding: 2% 10%;
    border-radius: 3em;
}