.hero {
    margin: 8% auto;
}

.hero .row {
    margin: auto 10%;
}

.hero .graphic {
    position: relative;
    z-index: -1;
}

.hero .btn {
    font-weight: ;
    padding: 2% 10%;
    border-radius: 3em;
}